
.container
{

    max-width: 400px;
    margin: 0 auto; 
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.menu h2
{
width: 104px;
height: 24px;
font-family: 'Fira Sans';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 38px;
display: flex;
align-items: center;
text-transform: uppercase;
color: rgba(244, 243, 241, 0.94);
text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
flex: none;
order: 0;
flex-grow: 0;
}

.menu 
{
    margin: 20px auto; 
    padding: 20px; 
    border-radius: 10px;
    position: relative;
    width: 390px;
    height: auto; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(72, 144, 120, 1);
    display: flex;
    flex-direction: column;
    gap: 10px;
} 

.item
{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 19px;
gap: 10px;
width: 358px;
height: 89px;
border-radius: 8px;
align-self: stretch;
}

.food-button
{
background-color: rgba(96, 88, 88, 1);
color: #fff;
border: none;
border-radius: 5px;
padding: 10px;
cursor: pointer;
width: 100%;
text-align: left; 
} 

.add-dip, .drink-button
{
display: flex; 
flex-direction: row;  
padding: 8px 12px;
gap: 10px;
width: 108px;
height: 33px;
background: rgba(241, 240, 236, 0.24);
border-radius: 4px;
border: none;
cursor: pointer;
color: rgb(244, 243, 241);
font-family: 'Fira Sans';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
}

.name-price
{ 
display: flex;
justify-content: space-between;
align-items: center; 
} 

.item-name, .item-price
{ 
width: 74px; 
height: 26px;
font-family: 'Fira Sans';
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 26px;
color: rgba(244, 243, 241, 0.94);
} 

.line
{ 
flex-grow: 1;
border-bottom: 2px dotted #fff;
} 

.ingredients
{ 
width: 326px;
height: 23px;
font-family: 'Fira Sans';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
text-transform: lowercase;
color: rgba(244, 243, 241, 0.94);
text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
border-bottom: 1px dashed rgba(241, 240, 236, 0.24);
}



.frame10, .frame7
{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    width: 358px;
    border-radius: 8px; 
}

.dips, .drinks
{
    background-color: rgba(96, 88, 88, 1);
    color: #fff;
    padding: 16px;
    cursor: pointer;
    width: 358px;
    gap: 10px;
    border-radius: 8px;
    text-align: center;
    height: 164px;
}

.dips
{
    margin-top: 40px;
}

button:active 
{
    background-color: rgba(53, 49, 49, 1); 
}

button:hover
{
    background-color: rgba(53, 49, 49, 1); 
}



/* order  */

.cart 
{
    width: 390px;
    height: 844px;
    background: #EEEEEE;
}

.items
{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
position: absolute;
width: 358px;
height: 462.2px;
left: 16px;
top: 111px;
border-radius: 4px;
}

.i-footer
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    position: absolute;
    width: 358px;
    height: 170px;
    left: 16px;
    top: 658px;
    background-color: (96, 88, 88, 1);

}

.take-my-money 
{
    width: 268px;
    height: 29px;
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: rgba(244, 243, 241, 0.94);
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
    flex: none;
    order: 0;
    flex-grow: 0;
}



/* CTA  */

.cta
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    position: relative;
    width: 390px;
    height: 844px;
    background: #605858;
    color: white;
    
}

.cta-box 
{
    
    width: 390px;
    height: 362px;
    left: 0px;
    top: 97px;
    background: url('a087f7ec21b4c797b479c102d8b7d9f8.png') no-repeat center;
    background-size: cover; 
}

.cta h2
{
    font-family: Fira Sans;
font-size: 32px;
font-weight: 700;
line-height: 38.4px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}

.cta h3
{
font-family: Fira Sans;
font-size: 26px;
font-weight: 500;
line-height: 31.2px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}

.cta h4
{
width: 326px;
height: 24px;
font-family: 'Fira Sans';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;
display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;
color: #EEEEEE;
}


.footer
{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;
position: absolute;
width: 358px;
height: 170px;
left: 16px;
top: 658px;
background-color: (96, 88, 88, 1);
}

.footer button
{
box-sizing: border-box;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 24px 16px;
gap: 10px;
width: 358px;
height: 77px;
opacity: 0.8;
border: 2px solid rgba(244, 243, 241, 0.94);
border-radius: 4px;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

.kvitto
{
width: 110px;
height: 29px;
font-family: 'Fira Sans';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 29px;
display: flex;
align-items: center;
text-transform: uppercase;
color: rgba(244, 243, 241, 0.94);
text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
flex: none;
order: 0;
flex-grow: 0;

}

.order
{
width: 268px;
height: 29px;
font-family: 'Fira Sans';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 29px;
display: flex;
align-items: center;
text-transform: uppercase;
color: rgba(244, 243, 241, 0.94);
text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
flex: none;
order: 0;
flex-grow: 0;
}
