.container
{

    width: 390px;
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.btn, .btn-n
{
    position: absolute;
    filter: drop-shadow(0px 0px 16px rgba(38, 88, 37, 0));
    width: 54px;
    height: 54px;
    left: 360px;
    top: 17px;
    background: rgba(237, 237, 237, 0.94);
    border-radius: 4px;
    border: none;
    color: rgba(96, 88, 88, 1);
}

.upp, .ner
{ 
    box-sizing: border-box;
    width: 100%; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding: 10px; } 

.upp 
{
    border: 2px solid #222222;
    border-radius: 4px;
    color: rgba(96, 88, 88, 1); 
}


.ner 
{  
    border-radius: 0 0 8px 8px;
    border: 2px solid #222222;
    color: rgba(96, 88, 88, 1); 
}

.menu h2
{
    width: 104px;
    height: 24px;
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: rgba(244, 243, 241, 0.94);
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 40px;
    left: 45px;
}

.menu 
{
    margin: auto; 
    margin-top: 10px;
    padding: 20px; 
    border-radius: 10px;
    position: relative;
    width: 100%;
    height: 1068px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(72, 144, 120, 1);
    display: flex;
    flex-direction: column;
    gap: 0px;
    justify-content: center;
    align-items: center;
} 

.item
{
width: 340px;
height: 89px;
padding: 16px 0px 0px 0px;
border-radius: 8px 8px 0px 0px;
opacity: 1px;

}

.food-button
{
background-color: rgba(96, 88, 88, 1);
color: #fff;
border: none;
border-radius: 5px;
cursor: pointer;
text-align: left; 
margin-top: 10px;
} 

.add-dip, .drink-button
{
display: flex; 
flex-direction: row;  
padding: 8px 12px;
gap: 10px;
width: 108px;
height: 33px;
background: rgba(241, 240, 236, 0.24);
border-radius: 4px;
border: none;
cursor: pointer;
color: rgb(244, 243, 241);
font-family: 'Fira Sans';
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 10px;
text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
}

.name-price
{ 
display: flex;
justify-content: space-between;
align-items: center;
font-family: 'Fira Sans';
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 26px;
width: Fill (326px)px;
height: Hug (26px)px;
gap: 8px;
opacity: 0px;
color: rgba(244, 243, 241, 0.94);
} 

.line
{ 
flex-grow: 1;
border-bottom: 2px dotted #fff;
} 

.ingredients
{ 
font-family: 'Fira Sans';
font-style: normal;
font-weight: 500;
width: 326px;
height: 23px;
font-size: 14px;
line-height: 16.8px;
text-transform: lowercase;
color: rgba(244, 243, 241, 0.94);
text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
flex: none;
order: 1;
margin-bottom: 8px;
}

.frame10, .frame7
{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    width: 358px;
    border-radius: 8px; 
}

.dips, .drinks
{
    background-color: rgba(96, 88, 88, 1);
    color: #fff;
    padding: 16px;
    cursor: pointer;
    width: 390px;
    gap: 24px;
    border-radius: 8px;
    text-align: center;
    height: 164px;
    padding: 0px 16px 0px 16px;
    border-radius: 8px;
    opacity: 0px;

}

.dips
{
    margin-top: 50px;
    margin-bottom: 20px;
}

button:active 
{
    background-color: rgba(53, 49, 49, 1); 
}

button:hover
{
    background-color: rgba(53, 49, 49, 1); 
}



/* order */
.orderb {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(238, 238, 238, 1);
    height: 100vh;
}

.cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 390px;
    padding: 16px;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.items {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 16px;
    color: #333;
}

.order-item {
    display: flex;
    flex-direction: column;
    padding: 8px 0;
    border-bottom: 1px solid #ddd
}

.order-items .item-name 
{
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 8px;
    color: #333;
}

.order-item .item-price {
    font-size: 14px;
    font-weight: bold;
    color: #000;
}

.quantity {
    display: flex;
    align-items: center;
    gap: 8px;
}

.quantity button {
    background-color: #ddd;
    border: none;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
}

.quantity button:hover {
    background-color: #bbb;
}

.total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d3d3d3;
    color: #000;
    padding: 20px;
    width: 100%;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.total span {
    display: block;
}

.take-my-money {
    background-color: #333;
    color: #fff;
    padding: 20px;
    border: none;
    font-family: 'Fira Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    width: 100%;
    text-align: center;
}

.take-my-money:hover {
    background-color: #000;
}


/* CTA */

.cta
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    position: relative;
    width: 390px;
    height: 844px;
    background: #605858;
    color: white;
    
}

.cta-box 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 390px;
    height: 362px;
    left: 0px;
    top: 97px;
}

.cta img 
{
    max-width: 100%;
    height: auto;
    margin-top: -200px;
}


.cta h2,
.cta h3,
.cta h4 
{
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    text-align: center;
    margin: 0;
}

.cta h2 {
    font-size: 32px;
    line-height: 38.4px;
    font-weight: 700;
    padding: 10px;
}

.cta h3 {
    font-size: 26px;
    line-height: 31.2px;
}

.cta h4 {
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
    color: #eeeeee;
}


.footer
{
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 16px;
position: absolute;
width: 358px;
height: 170px;
left: 16px;
top: 658px;
background-color: (96, 88, 88, 1);
}

.footer button
{
box-sizing: border-box;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 24px 16px;
gap: 10px;
width: 358px;
height: 77px;
opacity: 0.8;
border: 2px solid rgba(244, 243, 241, 0.94);
border-radius: 4px;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

.kvitto
{
width: 110px;
height: 29px;
font-family: 'Fira Sans';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 29px;
display: flex;
align-items: center;
background-color: #605858;
text-transform: uppercase;
color: rgba(244, 243, 241, 0.94);
text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
flex: none;
order: 0;
flex-grow: 0;

}

.order
{
width: 268px;
height: 29px;
font-family: 'Fira Sans';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 29px;
display: flex;
align-items: center;
text-transform: uppercase;
background-color: #605858;
color: rgba(244, 243, 241, 0.94);
text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
flex: none;
order: 0;
flex-grow: 0;
}
